<div fxLayout="column" fxFlex>

  <mat-toolbar color="primary">
    <span>Angular Material</span>
  </mat-toolbar>

  <mat-sidenav-container fxFlex>
    <mat-sidenav mode="side" opened>
      Sidenav
    </mat-sidenav>
    <div class="content">
      Page Content
    </div>
  </mat-sidenav-container>


  <mat-card>
    Main Theme:
    <button mat-raised-button color="primary">
      Primary
    </button>
    <button mat-raised-button color="accent">
      Accent
    </button>
    <button mat-raised-button color="warn">
      Warning
    </button>
  </mat-card>

  <mat-card class="alternate-theme">
    Alternate Theme:
    <button mat-raised-button color="primary">
      Primary
    </button>
    <button mat-raised-button color="accent">
      Accent
    </button>
    <button mat-raised-button color="warn">
      Warning
    </button>
  </mat-card>
  
</div>