<!-- <div fxFlexFill fxLayout="column">

  <div id="header-container" fxLayout="column">

    <main-menu></main-menu>

  </div>

  <div fxLayout="column" fxFlex>

    <router-outlet></router-outlet>

  </div>


  <div style="background-color:red;" fxLayout="column" fxLayoutAlign="end start" fxFlex>
    <h4>sa</h4>

  </div>

</div> -->

<div fxLayout="column">
  <header>
    <main-menu></main-menu>
  </header>
  <div fxFlex="1">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div fxLayout="row" fxLayoutAlign="center end">
      <p>AngularPH Copyright 2017, all rights reserved.</p>
    </div>

  </footer>
</div>