/* div.item {
    height: 700px;
}

img.banner {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: none;
    display: block;
    width: 100%;
} */

img.banner {
    width: 100%;
    display: block;
}

.carousel-inner {
    width: 100%;
    max-height: 700px !important;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption span {
    font-size: 90pt;
}

.carousel-caption p {
    font-size: 20pt;
}


.partner-item img {
    height: 100px;
    margin-bottom: 20px;
}


/* Smaller than standard 960 (devices and browsers) */

@media only screen and (max-width: 959px) {
    .carousel-inner {
        max-height: 700px !important;
    }
}


/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .carousel-inner {
        max-height: 700px !important;
    }
}


/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
    .carousel-inner {
        max-height: 500px !important;
    }
}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .carousel-inner {
        max-height: 500px !important;
    }

    .carousel-caption span {
        font-size: 50pt !important;
    }

}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {
    .carousel-inner {
        max-height: 250px !important;
    }

    .carousel-caption span {
        font-size: 30pt !important;
    }

    .carousel-caption p {
        font-size: 15pt;
    }

    .partner-item img {
        height: 70px;
    }
}